<launch>
  <master auto="start"/>



  <!--node name="rviz" pkg="rviz" type="rviz"/-->

  <!--- Run AMCL -->
  <!--include file="$(find amcl)/examples/amcl_omni.launch" />
  <include file="$(find teleop_kuka)/launch/lsm.launch"/>
  <node pkg="map_server" type="map_server" name="map_server" args="/home/alessio/rover_ws/maps/map.yaml" /-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen"> 
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>

    <rosparam file="$(find simple_layers)/src/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find simple_layers)/src/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find simple_layers)/src/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find simple_layers)/src/global_costmap_params.yaml" command="load" />
    <!--rosparam file="$(find kuka_nav)/src/base_local_planner_params.yaml" command="load" /-->
    <rosparam file="$(find simple_layers)/src/eband_planner_params.yaml" command="load" />
  </node>

</launch>
